.film-card {
    padding: 10px;
    display: flex;
    align-items: self-start;
    width: 100%;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--box-shadow) !important;
    position: relative;
    overflow: hidden;
    transition: transform .1s ease-in-out 0s !important;
    margin-bottom: 20px;
    transform: scale(1);
    cursor: pointer;
}

.film-card__image {
    width: 200px !important;
    border-radius: var(--border-radius);
    margin-right: 30px;
}

.film-card__title {
    margin-top: 10px;
    text-transform: capitalize;
}

.film-card__additional {
    color: var(--txt-color);
    font-size: 1.3rem !important;
}

.film-card:hover {
    transform: scale(1.03);
}

@media (max-width: 600px) {
    .film-card {
        display: block;
    }

    .film-card__image {
        width: 100% !important;
    }


}